* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 100px auto;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #101010;
    color: #ffffff;
    margin: 0;
}

header {
    background-color: #202020;
    text-align: center;
    padding-top: 1em;
    width: 100%;
}

h1 {
    font-weight: lighter;
    
    margin: 0;
}

h1 .bold {
    font-weight: 700;
}

h2 {
    text-align: center;
}

a.btn {
    text-align: center;
    text-decoration: none;
    color: #202020;
    background-color: orange;
    padding: 1em;
    border-radius: 0.5em;
    place-self: center;
}

.footer {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > * {
    margin: 0 1em;
    color: #a0a0a0;
}

button {
    padding: 1em;
    background-color: greenyellow;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

main {
    max-width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create {
    display: grid;
    margin: 1em;
    gap: 1em;
    justify-items: center;
}

#validity-message {
    padding: 0.5em;
    margin: 0;
    background-color: darkred;
    border-radius: 0.5em;
}

#create label {
    margin-top: 1em;
}

#create #short-url.invalid {
    border: 2px solid red;
}

#short-url-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#url-prefix {
    margin: 0;
    margin-right: 1em;
}

#create #short-url.valid {
    border: 2px solid green;
}

#create input[type=text], #create input[type=password] {
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    width: 100%;
}

#created-short {
    color: white;
    padding: 1em;
    background-color: #303030;
    border-radius: 0.5em;
    font-size: x-large;
}

#created-long {
    color: #b0b0b0;
    
}